*{
    box-sizing: border-box;
    
}
body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
}
nav {
    display: flex;
    align-items: center;
    background-color: color #111111; 
    height: 90px;
    padding: 30px 25px;
}

.nav--logo_text, .nav--title{
    margin: 0;
}

.nav--logo_text {
    margin-right: auto;
    color:#61DAEB ;
    font-weight: 700;
    font-size: 22px;
}
.nav--title{
    color: #5382b1;
    font-weight: 700;
}
.nav-icon{
    width: 30px;
    margin-right: 7px;
}
main{
    background-color: #3a3d3f;
    height: 100%;
    padding: 57px 27px ;
    color: white;
    background-image: url(../../images/react.jfif);
    background-repeat: no-repeat;
    background-position:right 75%;
    
}
.main--title{
    margin: 0;
    font-size: 40px;
}

.main--facts { 
    margin-top: 46px;
    max-width: 400px;
}
.main--facts > li {
    font-size: 16px;
    padding-block:10px ;

}

.main--facts > li::marker {
  font-size: 30px;
  color:#61DAEB ;
}